.searchBox {
    width: 100% !important;
}

.searchButton{
    border: none !important;
}

/*if we use textfield*/
/*.searchBox{*/
/*    border: none !important;*/
/*}*/

/*if we use autocompete */
.searchBox > div{
    border: none !important;
}
